html{
	font-family: 'Roboto', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.wrapper {
	max-width: 1150px;
	margin-left: calc(50% - 575px);
	padding-top: 90px;
	padding-bottom: 80px;
	padding-left: 30px;
	padding-right: 30px;
}
.header {
	position: fixed;
    height: 70px;
    background-color: #d12626;
    width: 110%;
	left: 0;
    top: 0;
	background-image: url(../img/sale2.jpg);
	background-position: 0% 30%;
    background-size: 95%;
    background-repeat: no-repeat;
	z-index: 1000;
}
.header1img {
	width: 200px;
    position: absolute;
    top: 47px;
    right: 115px;
    transform: rotate(60deg);
}
.header3img {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
}
.heder_logo {
	position: absolute;
	color: white;
	top: 0px;
	right: 330px;
}
.first_p {
	font-size: 45px;
	text-shadow: 2px 2px 0px black, 0px 2px 2px black, 2px 2px 0px black;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.second_p {
	font-size: 20px;
	text-shadow: 2px 2px 0px black, 0px 2px 2px black, 2px 2px 0px black;
	margin: 0;
	margin-top: -7px;
	margin-left: 9px;
	padding: 0;
}
.header__nav {
	display: flex;
	max-width: 1000px;
    margin-left: calc(50% - 580px);
	flex-wrap: wrap;
}
.header__nav--li {
	padding: 4px;
}
.header__nav--li a {
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 0px black, 0px 1px 1px black, 1px 1px 0px black;
}
.header__nav--li a:hover {
	color: red;
}
.item_name {
	font-size: 25px;
	color: #d12626;
	text-align: center;
	margin-bottom: -40px;
	padding-top: 30px;
	padding-left: 120px;
	text-shadow: 1px 1px 0px black;
}
.item_description {
	flex-basis: 700px;
}
.item_description_p {
	margin-top: -50px;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
.item_imges {
	width: 350px;
	height: 260px;
	border: 1px solid black;
	border-radius: 30px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.item_img {
	max-width: 100%;
}
/*Будет возможность, переделать нормально на JS*/
.item_imges:hover {
	box-shadow:0px 0px 30px 14px rgba(209,46,46,0.73);
}
.item_imges:active {
	transform: scale(2.7);
	position: fixed;
	top: 40%;
	left: 45%;
	z-index: 1000;
	background-color: white;
	box-shadow: none;
}
.flex_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.item_value{
	background-color: #d12626;
	width: 180px;
	border-radius: 50%;
	position: relative;
	z-index: -1;
}
.item_value_p {
	font-size: 30px;
	color: #d12626;
	position: relative;
	left: 27px;	
}
.item_old_value {
	position: absolute;
	top: 20px;
    right: 50px;
    font-size: 25px;
}
.item_old_value:after {
	content: "";
	height: 2px;
    width: 100px;
    top: 36px;
    right: -13px;
    position: absolute;
    background-color: red;
	transform: rotate(-12deg);
}
.item_old_value:before {
	content: "";
	height: 2px;
    width: 100px;
    top: 36px;
    right: -13px;
    position: absolute;
    background-color: red;
	transform: rotate(12deg);
}
.item_value:before{
	content: "";
    width: 93%;
	height: 88%;
    background-color: white;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
	border-radius: 50%;
}
.footer {
	position: fixed;
    height: 40px;
    background-color: #d12626;
    width: 110%;
    left: 0;
    bottom: 0;
	text-shadow: 2px 2px 0px black;
}
.foter_img1 {
	width: 150px;
	position: fixed;
	bottom: -27px;
    right: 40px;
}
.foter_img2 {
	width: 300px;
	position: fixed;
	bottom: 0px;
    left: 40px;
}
.footer_p {
	color: white;
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
}







